@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
}

.main {
	position: relative;
	padding: 0px;
	width: 300px;
}

.url {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.url a {
	position: relative;
	display: inline-block;
	width: 80%;
	background: #ccffcc;
	overflow: hidden;
}

.icon {
	width: 16px;
	height: 16px;
}