@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
}


.data-set {
	position: relative;
}

.close {
	display: block;
	position: relative;
	font-size: 20px;
	margin: 0;
	padding: 0;
	top: -10px;
}

.remove {
	display: block;
	position: relative;
	font-size: 16px;
	margin: 0;
	padding: 0;
	top: 6px;
	cursor: pointer;
}

.postdata {
	display:none;
	padding-bottom: 10px;
}

.sid {
	margin: 4px 0px;
}

.alert {
	display:none;
}